body{
    margin:0;
    padding:0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(110,0,0,1) 50%, rgba(255,0,0,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
    color: white;
}

.logo{
    margin-top:10px;

}

.navbar {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(110,0,0,1) 50%, rgba(255,0,0,1) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 900;
    justify-content: space-around;
    display: flex;
}

.nav-list{
    list-style-type: none;
}

.nav-list li {
    float: left;
  }

.nav-list a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list a:hover{
   color: rgb(0, 0, 0);

}


.container-imagens{
    max-height: 100%;
    width: 20%;
    text-align: center;
    padding: 5px;
}

.imagem{
    width: 100%;
    filter: grayscale();
    height: 100%;
}

.imagem:hover{
    filter:none;
}

.wallpaper{
    height: 180px;
    width: 300px;
    filter: grayscale();
}

.wallpaper:hover{
    filter:none;
}

.container-wallpaper{
    margin-top: 5px;
    display: block;
    max-width: 800px;
    text-align: center;
}


.primeiro{
    font-size: 5rem;
    font-weight: 900;
    margin-right: 5px;
}

.segundo{
    font-size: 5rem;
    font-weight: 200;
    margin-left: 5px;
}

.conteudo{
    width: 100%;
    justify-content: center;
    align-items: center;
    height:90vh;
    display:flex;

}

.conteudo div{
    display: inline-block; 
}



.container-texto{
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #0a0808;
}


.imagem-personagem{
    height:100%;
    width:100%
}

.active{
    filter:none;
}

.container-personagem{
    max-height: 100%;
    width: 20%;
    text-align: center;
    padding: 5px;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: grayscale();
  filter: blur(15px);
 
}
.video-background:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(255,0,0,0.65) 100%);
}


.botao-som{
    height:40px;
    border-radius:50%;
    margin: auto;
    margin-top: 5px;
    background-color:red ;
    border: none;
    padding: 3px;
    margin-right: 5px;
    color: white;
    width: 40px;
    box-shadow: 3px 3px #000000;
    cursor: pointer;
}


